accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
attrs
bitsandbytes
certifi
charset_normalizer
click
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
jinja2
markdown-it-py
markupsafe
mdurl
multidict
numpy
packaging
peft
propcache
protobuf
psutil
pygments
python-dateutil
pyyaml
regex
requests
rich
safetensors
sentencepiece
setuptools
shellingham
six
tokenizers==0.22.2
tqdm
transformers
typer
typing-extensions
urllib3
yarl
